* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.main-top h1{
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
}

nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 320px;
    background: #0d7377;


}

.logo{
    text-align: center;
    display: flex;
    justify-content: center;
    background: white;
    width: 100%;
    padding: 20px 0;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 5px;
}

a{
    position: relative;
    color: rgb(255, 255, 255);
    font-style: 14px;
    display: table;
    width: 250px;
    padding: 20px 10px 25px 10px;
}

nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
}

a:hover{
    background-color: #89c0c2a4;
}

.logout{
    position: absolute;
    bottom: 0;


}

.help{
    position: absolute;
    bottom: 60px;
}

.settings{
    position: absolute;
    bottom: 120px;
}

/* Main Section */
.main{
    position: relative;
    padding: 20px;
    width: 100%;
  }

  .main h1{
    margin-left: 15px;
    margin-top: 40px;
  }

  .main-top{
    display: flex;
    width: 100%;
  }
  .main-top p{
    display: flex;
    justify-content: end;
    align-items: last baseline;
    width: 83%;
    margin-bottom: 5px;
  }
  .main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
  }
  .main-skills{
    display: flex;
    margin-top: 20px;
    color: #000;
  }
  .main-skills .card{
    width: 33%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    color: black;
  }
  .main-skills .card h3{
    margin: 10px;
    text-transform: capitalize;
  }
  .main-skills .card p{
    font-size: 12px;
  }
  .main-skills .card i{
    font-size: 22px;
    padding: 10px;

  }

  .main-skills .card p{
    font-size: 22px;
    padding: 10px;
  }

  /* Tasks */
  .main-task{
    margin-top:20px ;
    text-transform: capitalize;
  }
  .task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding: 10px;
    border-bottom: 0.1px solid lightgray;
    width: 78%;
    margin-left: 20px;
  }
  
  .task-box{
    width: 100%;
    height: auto;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);   
  }

  .task-box ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 80%;
  }

  .task-box ul li i{
    margin: 10px;
    color: gray;
  }
  .task-box .task{
    display: flex;
  }
  .box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 0.1px solid lightgray;
  }
  .box p{
    font-size:1em;
    margin-top: 5px;
    display: inline;
  }
  td button{
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }

  .tabular--wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.main-top span{
  font-weight: normal;
  font-size: 14px;
}

/*Tables*/
.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: black;
}

th {
    padding: 15px;
    text-align: left;
    color: grey;
}

th i {
    margin-right: 10px;

}

tbody {
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even) {
    background: #fff;
}

tfoot {
    background: rgba(113, 90, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
}

.table-container button {
    color: green;
    background: none;
    cursor: pointer;
}

td button {
  margin-right: 10px;
}

[class="fas fa-pen"] {
    color: rgb(49, 156, 255);
}

[class="fas fa-trash"] {
  color: rgb(255, 0, 0);
}

[class="fas fa-clock"] {
  color: rgb(221, 133, 0);
}

[class="fas fa-exclamation"] {
  color: rgb(255, 0, 0);
}

[class="fas fa-check"] {
  color: green;
}

/* Dashboard */
.dashboard-section {
  margin-top: 20px;
}

.dashboard-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dashboard-section-content {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.dashboard-section-content p {
  margin: 0;
}

.statistics-overview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.statistics-item {
  flex: 1 1 30%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

.statistics-item h3 {
  margin-bottom: 5px;
}

form img #profile-image {
  width: 20px;
  height: auto;
}